src/sk4rbonka/main/default/flows/sk4_WithdrawFromSavings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Withdrawal_from_savings_apex</name>
        <label>Withdrawal from savings apex</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>sk4_CreateTransferRecords</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>child</name>
            <value>
                <elementReference>Get_child</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Description_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parent</name>
            <value>
                <elementReference>Get_Parent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>withdrawAmount</name>
            <value>
                <elementReference>Withdraw_amount</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_withdrawal_more_than_savings</name>
        <label>Is withdrawal more than savings?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Confirmation_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, confirm</defaultConnectorLabel>
        <rules>
            <name>No_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_child.sk4_balance2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Withdraw_amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Withdrawal_from_savings_apex</targetReference>
            </connector>
            <label>No, proceed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>No_savings_message</name>
        <dataType>String</dataType>
        <expression>{!Get_child.Name} + &apos; has no savings that could be withdrawn!&apos;</expression>
    </formulas>
    <interviewLabel>Sk4rbonka - Withdraw from savings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sk4rbonka - Withdraw from savings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_child</name>
        <label>Get child</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent</name>
        <label>Get Parent</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Withdraw_from_savings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sk4_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_parent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_screen</name>
        <label>Confirmation_screen</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Make a correction</backButtonLabel>
        <connector>
            <targetReference>Withdrawal_from_savings_apex</targetReference>
        </connector>
        <fields>
            <name>Withdrawal_confirmation</name>
            <fieldText>&lt;p&gt;{!Get_child.Name} is going to withdraw {!Withdraw_amount}, it,s more, than has saved. Proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Withdraw_from_savings</name>
        <label>Withdraw from savings</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_withdrawal_more_than_savings</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!Get_child.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;withdraws their &lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;savings!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Savings_balance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_child.Name} has {!Get_child.sk4_balance2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Withdraw_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Withdraw amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Description_Input</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Pay!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_child</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>528</locationX>
        <locationY>866</locationY>
        <flowName>sk4_DisplayError</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
