src/sk4rbonka/main/default/flows/sk4_DeductFromSavings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deduct_from_savings_apex</name>
        <label>Deduct from savings apex</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>sk4_CreateTransferRecords</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>child</name>
            <value>
                <elementReference>Get_child</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deductionAmount</name>
            <value>
                <elementReference>Deduction_amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parent</name>
            <value>
                <elementReference>Get_Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_deduction_more_than_savings</name>
        <label>Is deduction more than savings</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, confirm</defaultConnectorLabel>
        <rules>
            <name>No_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deduction_amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
                    >Get_child.sk4_balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_from_savings_apex</targetReference>
            </connector>
            <label>No, proceed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>No_savings_message</name>
        <dataType>String</dataType>
        <expression
        >{!Get_child.Name} + &apos; has no savings that could be withdrawn!&apos;</expression>
    </formulas>
    <interviewLabel
    >Sk4rbonka - Withdraw from savings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sk4rbonka - Deduct from savings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_child</name>
        <label>Get child</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent</name>
        <label>Get Parent</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deduct_from_savings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sk4_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_parent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Make a correction</backButtonLabel>
        <connector>
            <targetReference>Deduct_from_savings_apex</targetReference>
        </connector>
        <fields>
            <name>Confirmation_text</name>
            <fieldText
            >&lt;p&gt;You&apos;re going to deduct {!Deduction_amount}. It&apos;s more than {!Get_child.Name} has saved. Are you sure?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, deduct</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deduct_from_savings</name>
        <label>Deduct from savings</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_deduction_more_than_savings</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Deduct from {!Get_child.Name} savings!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Savings_balance</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Get_child.Name} has {!Get_child.sk4_balance__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deduction_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Deduction amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Pay!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_child</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <flowName>sk4_DisplayError</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
