src/sk4rbonka/flows/sk4_GivePocketMoney.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>sk4_CreateTransferRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>child</name>
            <value>
                <elementReference>Get_Child</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parent</name>
            <value>
                <elementReference>Get_parent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pocketMoneyAmount</name>
            <value>
                <elementReference>PocketMoney</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>savingsAmount</name>
            <value>
                <elementReference>How_many_savings</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Sk4rbonka - Give PocketMoney {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sk4rbonka - Give PocketMoney</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child</name>
        <label>Get Child</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parent</name>
        <label>Get parent</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Data_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sk4_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_parent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Data_Screen</name>
        <label>Enter Data Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Give {!Get_Child.Name} a PocketMoney&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PocketMoney</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Child.sk4_family__r.sk4_defaultPocketMoneyAmount__c</elementReference>
            </defaultValue>
            <fieldText>PocketMoney</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>How_many_savings</name>
            <dataType>Currency</dataType>
            <fieldText>How many savings?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;You can&apos;t save more than you have!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!How_many_savings} &lt;={!PocketMoney}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Pay!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success_Toast</name>
        <label>Show Success Toast</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Toast</name>
            <extensionName>c:flowScreen_displayToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>{0} was paid!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlLabel</name>
                <value>
                    <elementReference>Get_Child.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <flowName>sk4_DisplayError</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>pocketMoneyAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>savingsAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
