src/sk4rbonka/flows/sk4_WithdrawFromSavings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Withdrawal_from_savings_apex</name>
        <label>Withdrawal from savings apex</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>sk4_CreateTransferRecords</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>child</name>
            <value>
                <elementReference>Get_child</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parent</name>
            <value>
                <elementReference>Get_Parent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>withdrawAmount</name>
            <value>
                <elementReference>Withdraw_amount</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Has_any_savings</name>
        <label>Has any savings?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope-dope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_child.sk4_savingsSum__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Withdraw_from_savings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>No_savings_message</name>
        <dataType>String</dataType>
        <expression>{!Get_child.Name} + &apos; has no savings that could be withdrawn!&apos;</expression>
    </formulas>
    <interviewLabel>Sk4rbonka - Withdraw from savings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sk4rbonka - Withdraw from savings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_child</name>
        <label>Get child</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent</name>
        <label>Get Parent</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_any_savings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sk4_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sk4_parent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Toast</name>
        <label>Screen Toast</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Toast</name>
            <extensionName>c:flowScreen_displayToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>No_savings_message</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>No savings available!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Withdraw_from_savings</name>
        <label>Withdraw from savings</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Withdrawal_from_savings_apex</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!Get_child.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;withdraws their &lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;savings!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Savings_balance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Get_child.Name} has {!Get_child.sk4_balance__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Withdraw_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Withdraw amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You can&apos;t withdraw more than you have!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Withdraw_amount} &lt;= {!Get_child.sk4_balance__c}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Pay!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_child</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <flowName>sk4_DisplayError</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
